<!DOCTYPE html>
<html lang="pl" ng-app="ToDo">
<head>	
<meta charset="utf-8">
<head>
   <link rel="stylesheet" href="style.css" media="screen" />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="app.js"></script>
<body>

   <div ng-controller="todoController" id="box">
       <form name="frm" ng-submit="addTodo()">
           <input type="text" name="newtodo" ng-model="newTodo" required />
		   <button ng-disabled="frm.$invalid">Go</button>
       </form>
	   
	   <button ng-click="clearCompleted()">Clear Completed</button>

       <ul>
         <li ng-repeat="todo in todos">
		    <input type="checkbox" ng-model="todo.done" />
      	    <span ng-class="{'done': todo.done}">{{todo.title}}</span>
         </li>
       </ul>   
   </div>	   

</body>
</html>