<!DOCTYPE html>
<html lang="pl" ng-app="myApp">
  <head>	
    <meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div ng-include="'header.html'"></div>
  <div class="wrapper" ng-controller="myController">
    <input type="text" ng-model="search" class="search" placeholder="Find Task">
<!--<input type="button" value="Done" ng-click="ifdone = 'task.done'">-->

	
  <table>
    <th ng-click="order = 'title'" class="th">Title</th>
	<th ng-click="order = 'rate'" class="th">Rate</th>
	<th ng-click="order = 'duration'" class="th">Duration</th>
	<th ng-click="order = 'level'" class="th">Level</th>
	<th>Remove</th>
  <tr ng-repeat="task in tasks | orderBy: order | filter: search">
    <td>{{task.title}}</td>
    <td>{{task.rate | currency: '$'}}</td>
	<td>{{task.duration}}</td>
	<td>{{task.level}}</td>
	<td ng-click="removeTask(task)"><div>x</div></td>
  </tr>
  </table>
  
  <p>Add new task:</p>
  <div class="addtask">
    <input type="text" class="addti" placeholder="Title">
    <input type="text" class="addda" placeholder="Rate">
    <input type="text" class="adddu" placeholder="Duration">
    <input type="text" class="addle" placeholder="Level">
	<input type="submit" class="submit" value="Submit">
  </div>

<!--<ul>
	  <li ng-repeat="task in tasks | orderBy: 'title' | filter: search" ng-show="ifdone">{{task.title}}</li>
	</ul>-->

  </div>
</body>
</html>



